/*
  main container
*/
main {
  max-width: 1440px;
  min-width: 375px;
  max-height: 800px;
  min-height: 667px;
  position: relative;
  background: url(../images/pattern-bg.svg) no-repeat;
  background-size: 87%;
  background-position: center top 7%;
  padding: 54px 32px 75px 32px;

  /*
    middle quote img for decoration
  */
  &::before {
    content: '';
    position: absolute;
    background: url(../images/pattern-quotes.svg) no-repeat center/cover;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 50px;
  }

  /*
    bottom pattern curve for decoration
  */
  &::after {
    content: '';
    position: absolute;
    background: url(../images/pattern-curve.svg) no-repeat center/cover;
    bottom: 0;
    left: 0;
    width: 285px;
    height: 72px;
  }

  /*
      avatar container
  */
  .avatar-contianer {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 254px;
    height: 253px;
    margin-bottom: 82px;

    /*
      slider-btns-container
    */
    .arrow-btns-container {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 80px;
      height: 40px;
      border-radius: 28px;
      background-color: #fff;
      box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
      display: flex;
      overflow: hidden;

      /*
        left arrow & right arrow
      */
      .left-arrow,
      .right-arrow {
        width: 50%;
        height: 100%;
        border: none;
        cursor: pointer;
        outline: none;
        &:hover,
        &:focus {
          background-color: #f4f4fc;
        }
      }
      .left-arrow {
        background: url(../images/icon-prev.svg) no-repeat center;
      }
      .right-arrow {
        background: url(../images/icon-next.svg) no-repeat center;
      }
    }
  }

  /*
    block quote
  */
  blockquote {
    text-align: center;
    color: #202047;
    /*
      quote
    */
    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 19px;
    }

    /*
      cited,
      job title / position
    */
    cite,
    .job-title {
      display: block;
    }

    cite {
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
    }

    .job-title {
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: #b9b9ce;
    }
  }
}
